# Supabase (ya hardcodeado en el código, opcional si quieres cambiar)
NEXT_PUBLIC_SUPABASE_URL=https://aqassltxvrtegatlzkkl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_u5A3pcpkyLXqQa6s2x-pxg_Vci2xypW
